<div class='modal fade' id="{{elementId}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style='background-color: #fff'>
            <div class="modal-header" style='background-color: #fff'>
                <h3 class="modal-title">{{title}}</h3>
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <!-- Movie Info -->
                <ng-content></ng-content>
            </div>
        </div>

    </div>
</div>